/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  color: #1e1e1e;
  background-color: #eff1f0;
}

body {
  position: relative;
}



nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #fff 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: bottom;
  -webkit-transition: background-position .5s, box-shadow .5s;
  -moz-transition: background-position .5s, box-shadow .5s;
  -ms-transition: background-position .5s, box-shadow .5s;
  -o-transition: background-position .5s, box-shadow .5s;
  transition: background-position .5s, box-shadow .5s;
}

nav.active:not(.hamburger-active) {
  background-position: top;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 20px 40px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 20px 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 20px 40px;
}

nav.hamburger-active .brand,
nav.hamburger-active .left {
  opacity: 0;
}

nav a {
  text-transform: uppercase;
}

nav > * {

}

nav .brand {
  margin-right: 34px;
}

nav .brand img {
  padding: 0 28px;
  width: 200px;
}

nav .left {
  flex: 1.5;
}

nav .left li {
  display: inline-block;
  margin: 0 1.46vw;
}

nav .left li span {
  position: relative;
}

nav .left li span::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  -webkit-transition: width 0.125s ease-in-out;
  -moz-transition: width 0.125s ease-in-out;
  -ms-transition: width 0.125s ease-in-out;
  -o-transition: width 0.125s ease-in-out;
  transition: width 0.125s ease-in-out;
  height: 2px;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #1e1e1e;
}

nav .left li a:hover span::before {
  width: 100%;
}

nav .left li a i {
  margin-left: 4px;
}

nav .left li a i img {
  width: 12px;
  vertical-align: initial;
}

nav .right {
  flex: 1;
  height: 100%;
}

nav .right li {
  float: right;
  height: 100%;
}

nav .right li a {
  padding: 0 5.55vh;
  display: flex;
  align-items: center;
  height: 100%;
}

nav .right li a.primary {
  width: 54px;
}

nav .right li a.primary:hover::before {
  content: 'Join us';
}

nav .right li a.primary:hover span {
  display: none;
}

nav .hamburger {
  display: none;
}



section {
  height: 100vh;
}



section.landing {
  position: relative;
  height: 80vh;
  padding: 10vh 168px 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.landing.hidden-bg::before {
  background-position: 60vw 50vh;
  opacity: 0;
}

section.landing::before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/plant.jpg);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: 60vw -6vh;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transition: opacity 1s .25s, background 1s;
  -moz-transition: opacity 1s .25s, background 1s;
  -ms-transition: opacity 1s .25s, background 1s;
  -o-transition: opacity 1s .25s, background 1s;
  transition: opacity 1s .25s, background 1s;
  opacity: 1;
}

section.landing h1 {
  padding-top: 8vh;
}

section.landing h1 + h1 {
  padding-top: 0;
}

section.landing .newsletter {
  margin-top: 8.333333333333333vh;
  width: calc(31.78vw + 28px * 2 + 2px);
  min-width: calc(440px + 28px * 2 + 2px);
}

section.landing .scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

section.landing .links {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

section.landing .links a {
  width: 50%;
  display: block;
  float: right;
  height: 60px;
  line-height: 60px;
}



section.values-1 {
  /*height: 110vh;*/
  background-color: #fff;
}

section.values-1 .partners {
  /*height: 14vh;*/
  padding: 6vh 0 8vh;
  text-align: center;
}

section.values-1 .partners img {
  margin: 2vh;
}

section.values-1 .accordion {
  position: relative;
  height: 82vh;
  display: flex;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  background-repeat: no-repeat
}

section.values-1 .accordion.first {
  background: url("../img/blocks-1/accordion/1.jpg") 50%;
  /*background-size: 160vw;*/
}

section.values-1 .accordion.second {
  background: url("../img/blocks-1/accordion/2.jpg") 50%;
  /*background-size: 160vw;*/
}

section.values-1 .accordion.third {
  background: url("../img/blocks-1/accordion/3.jpg") 50%;
  /*background-size: 160vw;*/
}

section.values-1 .accordion:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.47);
  height: 100%;
  width: 100%;
}

section.values-1 .accordion .content {
  flex: 1;
  padding: 9.25vh 2.8125vw 0;
  z-index: 10;
  -webkit-transition: background-color .25s;
  -moz-transition: background-color .25s;
  -ms-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

section.values-1 .accordion.first .content:nth-child(1),
section.values-1 .accordion.second .content:nth-child(2),
section.values-1 .accordion.third .content:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.71);
}

section.values-1 .accordion .content .content-header {
  height: 10%;
}

section.values-1 .accordion .content .content-body {
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3.1875vw;

  position: relative;
}

section.values-1 .accordion .content .content-footer {
  height: 20%;

  position: relative;
  overflow: hidden;
}

section.values-1 .accordion .content .content-header > * {
  display: inline-block;
  vertical-align: middle;
}

section.values-1 .accordion .content .content-header .horizontal-line {
  background-color: #fff;
}

section.values-1 .accordion .content .content-body .acc-btn {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(0,0,0,.75);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}

section.values-1 .accordion .content .content-body .acc-btn .acc-btn-box {
  position: relative;
  width: 100%;
  height: 100%;
}

section.values-1 .accordion .content .content-body .acc-btn .acc-btn-box .acc-btn-inner,
section.values-1 .accordion .content .content-body .acc-btn .acc-btn-box .acc-btn-inner:after {
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #fff;
  border-radius: 6px;
  left: calc(50% - 7px);
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: none;
}

section.values-1 .accordion .content .content-body .acc-btn .acc-btn-box .acc-btn-inner {
  top: 18px;
}

section.values-1 .accordion .content .content-body .acc-btn .acc-btn-box .acc-btn-inner::after {
  display: block;
  content: "";
  top: 0;
  transform: rotate(90deg);
}

section.values-1 .accordion .content .content-body h5 {
  text-transform: uppercase;
}

section.values-1 .accordion .content .content-body h4 {
  color: #fff;
}

section.values-1 .accordion .content .content-body p {
  padding-top: 4vh;
  color: #fff;
  transform: translateY(100px);
  opacity: 0;

  -webkit-transition: transform .25s, opacity .25s;
  -moz-transition: transform .25s, opacity .25s;
  -ms-transition: transform .25s, opacity .25s;
  -o-transition: transform .25s, opacity .25s;
  transition: transform .25s, opacity .25s;
}

section.values-1 .accordion.first .content:nth-child(1) .content-body p,
section.values-1 .accordion.second .content:nth-child(2) .content-body p,
section.values-1 .accordion.third .content:nth-child(3) .content-body p {
  transform: translateY(0);
  opacity: 1;
}

section.values-1 .accordion .content .content-footer a {
  width: 16vw;
  height: 12vh;
  position: absolute;
  bottom: 0;
  left: calc(50% - 16vw / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(200px);
  opacity: 0;

  -webkit-transition:
    transform .25s,
    opacity .25s,
    color 0.25s ease-out,
    background-color 0.25s ease-out;
  -moz-transition:
    transform .25s,
    opacity .25s,
    color 0.25s ease-out,
    background-color 0.25s ease-out;
  -ms-transition:
    transform .25s,
    opacity .25s,
    color 0.25s ease-out,
    background-color 0.25s ease-out;
  -o-transition:
    transform .25s,
    opacity .25s,
    color 0.25s ease-out,
    background-color 0.25s ease-out;
  transition:
    transform .25s,
    opacity .25s,
    color 0.25s ease-out,
    background-color 0.25s ease-out;
}

section.values-1 .accordion.first .content:nth-child(1) .content-footer a,
section.values-1 .accordion.second .content:nth-child(2) .content-footer a,
section.values-1 .accordion.third .content:nth-child(3) .content-footer a {
  transform: translateY(0);
  opacity: 1;
}



section.values {
  background-color: #fff;
}

section.values .value {
  height: 87vh;
  overflow: hidden;
  position: relative;
}

section.values .value.large {
  height: 100vh;
}

section.values .value > * {
  width: 50%;
  height: 100%;
}

section.values .value:nth-child(odd) .text {
  float: left;
}

section.values .value:nth-child(even) .text {
  float: right;
}

section.values .value .text {

  display: flex;
  flex-direction: column;
  justify-content: center;

}

section.values .value .text > * {

  padding: 0 12vw 0 4vw;

}

section.values .value .text .objective {
  margin-top: 4vh;
}

section.values .value .text .icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 46px;
  border: #e9e9e9 1px solid;
  border-radius: 32px;
}

section.values .value .text svg {
  padding-left: 4px;
}

section.values .value .text h6 {
  display: inline-block;
  margin-left: 14px;
}

section.values .value .img-container {
  position: relative;
  overflow: hidden;
}

section.values .value .img-parallax {

  position: absolute;
  top: 50%;
  transform: translate(0,-50%) scale(1.25);
  pointer-events: none;
}



section.testimonials {
  /*height: 82vh;*/
  background-color: #f8f8f8;
}

section.testimonials .testimonial {
  display: flex;
  padding: 12vh 0;
  outline: none;
  overflow: hidden;
}

section.testimonials .testimonial > * {
  flex: 1;
}

section.testimonials .testimonial .info {
  padding-left: 16vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
}

section.testimonials .testimonial .info .brand {
  width: auto;
  align-self: flex-start;
  margin-bottom: auto;
}

section.testimonials .testimonial .info .quote {
  position: relative;
  margin-bottom: 6vh;
}

section.testimonials .testimonial .info .quote::before {
  position: absolute;
  content: '';
  background-image: url(../img/quotes.png);
  top: -3.7vh;
  left: -3.125vw;
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
}

section.testimonials .testimonial .info .person {
  margin-bottom: auto;
}

section.testimonials .testimonial .info .person h6.name {
  margin-bottom: 0.2vh;
  color: #28aa69;
}

section.testimonials .testimonial .cover img {
  width: 45vw;
  /*padding-right: 5vw;*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

section.testimonials .slick-carousel.hidden {
  display: none;
}

section.testimonials .slick-carousel .slick-prev,
section.testimonials .slick-carousel .slick-next,
section.testimonials .slick-carousel .slick-dots,
section.testimonials .slick-carousel .slick-dots li {
  display: inline-block;
  vertical-align: middle;
}



section.contribute {
  padding: 15vh 17.1875vw;
  background-color: #fff;
  text-align: center;
}

section.contribute .newsletter {
  margin-top: 8.333333333333333vh;
}

section.contribute p {
  margin-top: 3.333333333333333vh;
}


section.info {
  padding: 9.82vh 4.27vw;
  background-color: #1e1e1e;
  display: flex;
}

section.info .contact {
  flex: 1.5;
}

section.info .contact .newsletter {
  margin-top: 1.85vh;
}

section.info .links {
  flex: 1.5;
}

section.info .links table {
  width: 100%;
}

section.info .links td {
  color: #fff;
  padding: 8px;
}

section.info .links td a {
  color: #acacac;
}

footer {
  padding: 4.62962962962963vh 4.479166666666667vw;
  background-color: #1e1e1e;
  border-top: #343434 solid 1px;
  display: flex;
}

footer > * {
  flex: 1;
}

footer .brand {
  display: flex;
  justify-content: space-between;
}

footer .brand .logo img {
  width: 140px;
}

footer .socials {
  margin: 0 auto;
}

footer .links {
  text-align: right;
}

footer .links a:first-of-type {
  margin-top: 3.518518518518519vh;
}

footer .links a:last-of-type {
  margin-top: 0.7407407407407407vh;
  margin-bottom: 2.777777777777778vh;
}

footer .links a {
  color: #fff;
  margin-right: 4.479166666666667vw;
}

footer .links span {
  color: #acacac;
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
}



@media only screen and (max-width: 1024px) {

  nav .brand {
    flex: 1;
    /*align-self: flex-end;*/
    margin-right: 0;
  }

  nav .brand img {
    padding: 0 42px;
  }

  nav .right {
    display: none;
  }

  nav .left {
    display: none;
  }

  nav .hamburger {
    display: block;
    margin-right: 6vw;
    /*align-self: flex-end;*/
  }

  section.landing::before {
    opacity: 0;
  }

  section.landing .scroll {
    display: none;
  }

  section.landing .links {
    display: block;
  }

  section.info {
    flex-direction: column;
  }

  section.info .links {
    margin-top: 5.185185185185185vh;
  }

  footer {
    flex-direction: column;
  }

  footer .socials {
    margin: 0;
  }

  footer .links {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .hamburger-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hamburger-popup > * {
    padding: 0 7.8125vw;
  }

  .hamburger-popup .links li:not(:last-of-type) {
    margin-bottom: 1.75vh;
  }

  .hamburger-popup .links a {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: #1e1e1e;
    text-transform: uppercase;
  }

  .hamburger-popup .links a i {
    margin-left: 4px;
  }

  .hamburger-popup .links a i img {
    margin-bottom: 6px;
  }

  .hamburger-popup .info {
    margin-top: 5.55vh;
    margin-bottom: auto;
  }

  .hamburger-popup .info li {
    display: inline-block;
    margin-right: 3.125vw;
  }

  .hamburger-popup .info a {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
  }

  .hamburger-popup .socials a {
    margin: 0 2vw;
    height: 40px;
    width: 40px;
  }

}


@media only screen and (max-width: 768px) {

  /*nav .brand img {*/
    /*padding-left: 6.510416666666667vw*/
  /*}*/

  section.landing {
    padding: 10vh 12vw;
    text-align: center;
  }

  section.landing.hidden-bg::before {
    background-position: calc(50% + 12px) 250%;
    opacity: 0;
  }

  section.landing::before {
    opacity: 1;
    background-position: calc(50% + 12px) 100%;
    background-size: 85vw;
  }

  section.landing h1 {
    padding-top: 4vh;
  }

  section.landing .newsletter {
    margin-top: 4.62vh;
    margin-bottom: auto;
    width: auto;
    min-width: auto;
  }


  section.values-1 .accordion {
    height: auto;
    flex-direction: column;
  }

  section.values-1 .accordion .content:nth-child(1) {
    background: url("../img/blocks-1/accordion/1.jpg") 50%;
    background-size: 100%;
  }

  section.values-1 .accordion .content:nth-child(2) {
    background: url("../img/blocks-1/accordion/2.jpg") 50% 33%;
    background-size: 100%;
  }

  section.values-1 .accordion .content:nth-child(3) {
    background: url("../img/blocks-1/accordion/3.jpg") 50% 25%;
    background-size: 100%;
  }

  section.values-1 .accordion .content {
    padding: 5.74vh 8vw;
    transition: none;
    position: relative;

  }

  section.values-1 .accordion .content::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.55);
    top: 0;
    left: 0;
  }

  /*section.values-1 .accordion .content:hover {*/
    /*!*background: none;*!*/
  /*}*/

  section.values-1 .accordion .content .content-header,
  section.values-1 .accordion .content .content-footer {
    display: none;
  }

  section.values-1 .accordion .content .content-body .acc-btn {
    display: block;
  }

  section.values-1 .accordion .content .content-body {
    height: 100%;
    padding-right: 18vw;
  }

  section.values-1 .accordion .content .content-body p {
    opacity: 1;
    transform: none;

    overflow: hidden;
    max-height: 0;
    height: auto;

    padding-top: 0;

    -webkit-transition: max-height .5s, padding-top .5s;
    -moz-transition: max-height .5s, padding-top .5s;
    -ms-transition: max-height .5s, padding-top .5s;
    -o-transition: max-height .5s, padding-top .5s;
    transition: max-height .5s, padding-top .5s;
  }

  section.values-1 .accordion .content.active .content-body p {
    padding-top: 4vh;
    max-height: 20vh;
  }

  section.values-1 .accordion .content.active .content-body .acc-btn .acc-btn-box .acc-btn-inner::after {
    display: none;
  }



  section.values .value {
    height: 114vh;
  }

  section.values .value.large {
    height: 142vh;
  }

  section.values .value > * {
    width: 100%;
    height: 50%;
  }

  section.values .value .text {
    padding: 3vh 0;
  }

  section.values .value .text .objective {
    margin-top: 2vh;
  }

  section.values .value .text h2 + p {
    margin-top: 1.74vh;
  }

  section.values .value .img-parallax {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(1);
  }

  section.testimonials .testimonial .info {
    padding: 0 4.51vw;
  }

  section.contribute {
    padding: 14.5vh 3.4375vw;
    text-align: center;
  }

  .hamburger-popup > * {
    padding: 0 4.43vw;
  }

  .hamburger-popup .links a {
    font-size: 29px;
  }

  .hamburger-popup .links li:not(:last-of-type) {
    margin-bottom: 0.83vh;
  }

  .hamburger-popup .info {
    margin-top: 2.78vh;
  }

  .hamburger-popup .info li {
    display: block;
    margin-right: 0;
    margin-bottom: 0.74vh;
  }

}



@media only screen and (max-width: 375px) {

  nav .brand img {
    padding: 0 32px;
  }

  section.values-1 .accordion .content {
    padding: 4vh 1.85vw;
  }

  section.values .value {
    height: 114vh;
  }

  section.info .links td {
    padding: 10px;
  }

}



 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

.hidden-o {
  opacity: 0;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


