/* texts.css */
/*
 * This css contain the text setup styling
 */

h1, h2, h3, h4, h5, h6, p, span {
  line-height: 1;
  margin: 0;
}



h1 {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
  font-size: 85px;
  line-height: 0.75;
}

h2 {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
  font-size: 85px;
}

h3 {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
  font-size: 65px;
}

h4 {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

h5 {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
  color: #28aa69;
  font-size: 12px;
}

h6 {
  color: #1e1e1e;
  font-size: 14px;
}

h6.of-scroll {
  font-family: 'Carnas', sans-serif;
  font-weight: normal;
  color: #1e1e1e;
  font-size: 11px;
  text-transform: uppercase;
}

h6.of-partners {
  font-family: 'Carnas', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #bcbcbc;
}

h6.acc-numeration {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
}

h6.of-obj {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
}

h6.name {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

h6.position {
  font-family: 'Carnas', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

h6.of-contact {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

h1 span,
h3 span {
  display: inline-block;
}

h1 span:first-of-type,
h3 span:first-of-type {
  margin-right: 18px;
}

h1 span.colored {
  color: #28aa69;
}

h2 span.colored {
  color: #28aa69;
}

h3 span.colored {
  color: #28aa69;
}

p {
  font-family: 'Carnas', sans-serif;
  font-weight: normal;
}


h1 + p {
  font-size: 18px;
  line-height: 1.25;
  margin-top: 4vh;
}

h2 + p {
  font-size: 21px;
  line-height: 1.25;
  opacity: 0.75;
  margin-top: 5.74vh;
}

h3 + p {
  font-size: 18px;
  line-height: 1.25;
}

h4 + p {
  font-size: 18px;
  line-height: 1.25;
}

p.quote {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.5;
}

a {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #1e1e1e;
  text-decoration: none;
}

a.primary {
  color: #fff;
  background-color: #28aa69;
  -webkit-transition: color 0.25s ease-out, background-color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out, background-color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out, background-color 0.25s ease-out;
  -o-transition: color 0.25s ease-out, background-color 0.25s ease-out;
  transition: color 0.25s ease-out, background-color 0.25s ease-out;
}

a.primary:hover {
  color: #28aa69;
  background-color: #fff;
}

a.secondary {
  color: #fff;
  background-color: #1e1e1e;
  -webkit-transition: color 0.25s ease-out, background-color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out, background-color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out, background-color 0.25s ease-out;
  -o-transition: color 0.25s ease-out, background-color 0.25s ease-out;
  transition: color 0.25s ease-out, background-color 0.25s ease-out;
}

a.secondary:hover {
  color: #1e1e1e;
  background-color: #fff;
}

table thead td {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
  font-size: 13px;
}

table tbody td a {
  font-family: 'Carnas', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

a.of-footer {
  font-family: 'Carnas', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

input {
  font-family: 'Carnas', sans-serif;
  font-weight: normal;
}

button {
  font-family: 'Carnas', sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {

  h2 {
    font-size: 70px;
  }

  h4 + p {
    font-size: 14px;
  }

  p.quote {
    font-size: 22px;
  }
}


@media only screen and (max-width: 768px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 65px;
  }

  h1 + p {
    font-size: 13px;
  }

  h2 + p {
    font-size: 21px;
  }

  h3 + p {
    font-size: 16px;
  }

  p.quote {
    font-size: 20px;
  }

  h6.of-partners {
    font-size: 13px;
  }
}

@media only screen and (max-width: 375px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 10px;
  }

  h1 + p {
    font-size: 10px;
  }

  h2 + p {
    font-size: 16px;
  }

  h3 + p {
    font-size: 12px;
  }

  table thead td {
    font-size: 12px;
  }

  table tbody td a {
    font-size: 12px;
  }

  a.of-footer {
    font-size: 12px;
  }


}
